@model IEnumerable<VehicleRentalSystem.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>All Users</h2>

<button class="btn btn-outline-primary btn-sm justify-content-end">
    @Html.ActionLink("Create New", "Create")
</button>
<div class="card border-secondary mb-3">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsLockedOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLockedOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <div class="btn btn-outline-primary btn-sm">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                    <div class="btn btn-outline-warning btn-sm">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
